.show_cart img{
    width: 90px;
    height: 90px;
   position: relative;
   border-radius: 7px;
   margin-top: 30px;
}

.clear_shopping{
    display: block;
    border: none;
    background-color: gold;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.clear_shopping:hover{
    opacity: 0.8;
}

.show_cart button:hover{
    opacity: 0.8;
}

.show_cart span{
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
    position: relative;
   top: -30px;
   left: 10px;
    z-index: 111;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details_cart{
    position: relative;
    top: 30px;
}

.details_cart p:nth-child(3){
color: red}


.btn_shopping{
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 20px;
    border: none;
    background-color: darkmagenta;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn_shopping:hover{
    opacity: 0.7;
}


.imge_no_products{
    width: 300px;
    margin: auto;
    text-align: center;
    display: block;

}